@model AwsExplorer.Models.S3Object

@{
  ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
  <legend>S3Object</legend>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.Key)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.Key)
  </div>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.LastModified)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.LastModified)
  </div>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.Size)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.Size)
  </div>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.ContentType)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.ContentType)
  </div>
</fieldset>
@using (Html.BeginForm())
{
  <input type="hidden" name="prefix" value="@ViewBag.prefix" />
  <input type="hidden" name="maxKeys" value="@ViewBag.maxKeys" />

  <p>
    <input type="submit" value="Delete" />
    |
  @Html.ActionLink("Back to List", "Index", new { prefix = ViewBag.prefix, maxKeys = ViewBag.maxKeys })
  </p>
}
